*a.out
build*/
install*/
*.vtk
*.vtu
*.vtp
*.vscode/
.vs
CMakeSettings.json
docs/doxygen/*.txt
!docs/doxygen/doxygen_template.txt
/dependencies/
.cache
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
*env*
.mypy_cache/
.eggs/